{% extends "layout.html" %}

{% block title %}Add a New Game{% endblock %}

{% block content %}
    <h1>Add a New Game</h1>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form id="gameForm" action="{{ url_for('add_game') }}" method="POST" enctype="multipart/form-data">
        <input type="text" id="name" name="name" placeholder="Game Name" required>
        <input type="text" id="platform" name="platform" placeholder="Platform" required>
        <input type="number" id="release_year" name="release_year" placeholder="Release Year" required>

        <label for="game_file">Upload an image:</label>
        <input type="file" id="game_file" name="game_file" accept="image/*">

        <button type="submit">Add Game</button>
    </form>

    <p id="errorMessage" style="color: red; display: none;">Invalid inputs.</p>
    <script src="{{ url_for('static', filename='validate.js') }}"></script>
{% endblock %}


